@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Open+Sans%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Raleway%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-MkobQiVbMk_Jh_font-family: "Inter", sans-serif;
  --mixin-MkobQiVbMk_Jh_font-size: 16px;
  --mixin-MkobQiVbMk_Jh_font-weight: 400;
  --mixin-MkobQiVbMk_Jh_font-style: normal;
  --mixin-MkobQiVbMk_Jh_color: #535353;
  --mixin-MkobQiVbMk_Jh_text-align: left;
  --mixin-MkobQiVbMk_Jh_text-transform: none;
  --mixin-MkobQiVbMk_Jh_line-height: 1.5;
  --mixin-MkobQiVbMk_Jh_letter-spacing: normal;
  --mixin-MkobQiVbMk_Jh_white-space: pre-wrap;
  --mixin-MkobQiVbMk_Jh_user-select: text;
  --mixin-MkobQiVbMk_Jh_text-decoration-line: none;
  --mixin-MkobQiVbMk_Jh_text-overflow: clip;
  --mixin-US00HFO9oPLqJ_color: #000000;
  --mixin-US00HFO9oPLqJ_font-weight: 700;
  --mixin-US00HFO9oPLqJ_font-size: 64px;
  --mixin-US00HFO9oPLqJ_line-height: 1;
  --mixin-US00HFO9oPLqJ_letter-spacing: -1px;
  --mixin-US00HFO9oPLqJ_white-space: pre-wrap;
  --mixin-yKdRWrgo3s9t3_color: #000000;
  --mixin-yKdRWrgo3s9t3_font-size: 48px;
  --mixin-yKdRWrgo3s9t3_font-weight: 700;
  --mixin-yKdRWrgo3s9t3_letter-spacing: -0.5px;
  --mixin-yKdRWrgo3s9t3_line-height: 1.1;
  --mixin-yKdRWrgo3s9t3_white-space: pre-wrap;
  --mixin--WSt7sl-ZCvnC_color: #0070f3;
  --mixin--WSt7sl-ZCvnC_white-space: pre-wrap;
  --mixin-HPbNyl99VXu75_color: #000000;
  --mixin-HPbNyl99VXu75_font-size: 32px;
  --mixin-HPbNyl99VXu75_font-weight: 600;
  --mixin-HPbNyl99VXu75_line-height: 1.2;
  --mixin-HPbNyl99VXu75_white-space: pre-wrap;
  --mixin-GXPzJdyNeswzv_color: #000000;
  --mixin-GXPzJdyNeswzv_font-size: 24px;
  --mixin-GXPzJdyNeswzv_font-weight: 600;
  --mixin-GXPzJdyNeswzv_letter-spacing: -0.5px;
  --mixin-GXPzJdyNeswzv_line-height: 1.3;
  --mixin-GXPzJdyNeswzv_white-space: pre-wrap;
  --mixin-WqV4i8uRo4K9B_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WqV4i8uRo4K9B_border-bottom-color: #dddddd;
  --mixin-WqV4i8uRo4K9B_border-bottom-style: solid;
  --mixin-WqV4i8uRo4K9B_border-bottom-width: 1px;
  --mixin-WqV4i8uRo4K9B_border-left-color: #dddddd;
  --mixin-WqV4i8uRo4K9B_border-left-style: solid;
  --mixin-WqV4i8uRo4K9B_border-left-width: 1px;
  --mixin-WqV4i8uRo4K9B_border-right-color: #dddddd;
  --mixin-WqV4i8uRo4K9B_border-right-style: solid;
  --mixin-WqV4i8uRo4K9B_border-right-width: 1px;
  --mixin-WqV4i8uRo4K9B_border-top-color: #dddddd;
  --mixin-WqV4i8uRo4K9B_border-top-style: solid;
  --mixin-WqV4i8uRo4K9B_border-top-width: 1px;
  --mixin-WqV4i8uRo4K9B_border-bottom-left-radius: 3px;
  --mixin-WqV4i8uRo4K9B_border-bottom-right-radius: 3px;
  --mixin-WqV4i8uRo4K9B_border-top-left-radius: 3px;
  --mixin-WqV4i8uRo4K9B_border-top-right-radius: 3px;
  --mixin-WqV4i8uRo4K9B_font-family: "Inconsolata";
  --mixin-WqV4i8uRo4K9B_padding-bottom: 1px;
  --mixin-WqV4i8uRo4K9B_padding-left: 4px;
  --mixin-WqV4i8uRo4K9B_padding-right: 4px;
  --mixin-WqV4i8uRo4K9B_padding-top: 1px;
  --mixin-WqV4i8uRo4K9B_white-space: pre-wrap;
  --mixin-UwRdj9Rdm6x3a_border-left-color: #dddddd;
  --mixin-UwRdj9Rdm6x3a_border-left-style: solid;
  --mixin-UwRdj9Rdm6x3a_border-left-width: 3px;
  --mixin-UwRdj9Rdm6x3a_color: #888888;
  --mixin-UwRdj9Rdm6x3a_padding-left: 10px;
  --mixin-UwRdj9Rdm6x3a_white-space: pre-wrap;
  --mixin-aFnRCdMVzwL6U_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-aFnRCdMVzwL6U_border-bottom-color: #dddddd;
  --mixin-aFnRCdMVzwL6U_border-bottom-style: solid;
  --mixin-aFnRCdMVzwL6U_border-bottom-width: 1px;
  --mixin-aFnRCdMVzwL6U_border-left-color: #dddddd;
  --mixin-aFnRCdMVzwL6U_border-left-style: solid;
  --mixin-aFnRCdMVzwL6U_border-left-width: 1px;
  --mixin-aFnRCdMVzwL6U_border-right-color: #dddddd;
  --mixin-aFnRCdMVzwL6U_border-right-style: solid;
  --mixin-aFnRCdMVzwL6U_border-right-width: 1px;
  --mixin-aFnRCdMVzwL6U_border-top-color: #dddddd;
  --mixin-aFnRCdMVzwL6U_border-top-style: solid;
  --mixin-aFnRCdMVzwL6U_border-top-width: 1px;
  --mixin-aFnRCdMVzwL6U_border-bottom-left-radius: 3px;
  --mixin-aFnRCdMVzwL6U_border-bottom-right-radius: 3px;
  --mixin-aFnRCdMVzwL6U_border-top-left-radius: 3px;
  --mixin-aFnRCdMVzwL6U_border-top-right-radius: 3px;
  --mixin-aFnRCdMVzwL6U_font-family: "Inconsolata";
  --mixin-aFnRCdMVzwL6U_padding-bottom: 3px;
  --mixin-aFnRCdMVzwL6U_padding-left: 6px;
  --mixin-aFnRCdMVzwL6U_padding-right: 6px;
  --mixin-aFnRCdMVzwL6U_padding-top: 3px;
  --mixin-aFnRCdMVzwL6U_white-space: pre-wrap;
  --mixin-Z1Nx9INmICs7O_display: flex;
  --mixin-Z1Nx9INmICs7O_flex-direction: column;
  --mixin-Z1Nx9INmICs7O_align-items: stretch;
  --mixin-Z1Nx9INmICs7O_justify-content: flex-start;
  --mixin-Z1Nx9INmICs7O_list-style-position: outside;
  --mixin-Z1Nx9INmICs7O_padding-left: 40px;
  --mixin-Z1Nx9INmICs7O_position: relative;
  --mixin-Z1Nx9INmICs7O_list-style-type: disc;
  --mixin-Z1Nx9INmICs7O_white-space: pre-wrap;
  --mixin-AwNdgfhpELzVw_display: flex;
  --mixin-AwNdgfhpELzVw_flex-direction: column;
  --mixin-AwNdgfhpELzVw_align-items: stretch;
  --mixin-AwNdgfhpELzVw_justify-content: flex-start;
  --mixin-AwNdgfhpELzVw_list-style-position: outside;
  --mixin-AwNdgfhpELzVw_padding-left: 40px;
  --mixin-AwNdgfhpELzVw_position: relative;
  --mixin-AwNdgfhpELzVw_list-style-type: decimal;
  --mixin-AwNdgfhpELzVw_white-space: pre-wrap;
  --mixin-c7PoD-kGPSMr0_color: #000000;
  --mixin-c7PoD-kGPSMr0_font-size: 20px;
  --mixin-c7PoD-kGPSMr0_font-weight: 600;
  --mixin-c7PoD-kGPSMr0_letter-spacing: -0.3px;
  --mixin-c7PoD-kGPSMr0_line-height: 1.5;
  --mixin-c7PoD-kGPSMr0_white-space: pre-wrap;
  --mixin-zWXJGhhdNPdzl_color: #000000;
  --mixin-zWXJGhhdNPdzl_font-size: 16px;
  --mixin-zWXJGhhdNPdzl_font-weight: 600;
  --mixin-zWXJGhhdNPdzl_line-height: 1.5;
  --mixin-zWXJGhhdNPdzl_white-space: pre-wrap;
  --mixin-A5A8qv40bDDA__color: #3291ff;
  --mixin-A5A8qv40bDDA__white-space: pre-wrap;
  --mixin-0MU-3hhh5WUtu_white-space: pre-wrap;
  --mixin-1YH3rIFj5tGCE_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-MkobQiVbMk_Jh_font-family);
  font-size: var(--mixin-MkobQiVbMk_Jh_font-size);
  font-weight: var(--mixin-MkobQiVbMk_Jh_font-weight);
  font-style: var(--mixin-MkobQiVbMk_Jh_font-style);
  color: var(--mixin-MkobQiVbMk_Jh_color);
  text-align: var(--mixin-MkobQiVbMk_Jh_text-align);
  text-transform: var(--mixin-MkobQiVbMk_Jh_text-transform);
  line-height: var(--mixin-MkobQiVbMk_Jh_line-height);
  letter-spacing: var(--mixin-MkobQiVbMk_Jh_letter-spacing);
  white-space: var(--mixin-MkobQiVbMk_Jh_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-US00HFO9oPLqJ_color);
  font-weight: var(--mixin-US00HFO9oPLqJ_font-weight);
  font-size: var(--mixin-US00HFO9oPLqJ_font-size);
  line-height: var(--mixin-US00HFO9oPLqJ_line-height);
  letter-spacing: var(--mixin-US00HFO9oPLqJ_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-yKdRWrgo3s9t3_color);
  font-size: var(--mixin-yKdRWrgo3s9t3_font-size);
  font-weight: var(--mixin-yKdRWrgo3s9t3_font-weight);
  letter-spacing: var(--mixin-yKdRWrgo3s9t3_letter-spacing);
  line-height: var(--mixin-yKdRWrgo3s9t3_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin--WSt7sl-ZCvnC_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-HPbNyl99VXu75_color);
  font-size: var(--mixin-HPbNyl99VXu75_font-size);
  font-weight: var(--mixin-HPbNyl99VXu75_font-weight);
  line-height: var(--mixin-HPbNyl99VXu75_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-GXPzJdyNeswzv_color);
  font-size: var(--mixin-GXPzJdyNeswzv_font-size);
  font-weight: var(--mixin-GXPzJdyNeswzv_font-weight);
  letter-spacing: var(--mixin-GXPzJdyNeswzv_letter-spacing);
  line-height: var(--mixin-GXPzJdyNeswzv_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-WqV4i8uRo4K9B_font-family);
  border-radius: var(--mixin-WqV4i8uRo4K9B_border-top-left-radius)
    var(--mixin-WqV4i8uRo4K9B_border-top-right-radius)
    var(--mixin-WqV4i8uRo4K9B_border-bottom-right-radius)
    var(--mixin-WqV4i8uRo4K9B_border-bottom-left-radius);
  padding: var(--mixin-WqV4i8uRo4K9B_padding-top)
    var(--mixin-WqV4i8uRo4K9B_padding-right)
    var(--mixin-WqV4i8uRo4K9B_padding-bottom)
    var(--mixin-WqV4i8uRo4K9B_padding-left);
  border-top: var(--mixin-WqV4i8uRo4K9B_border-top-width)
    var(--mixin-WqV4i8uRo4K9B_border-top-style)
    var(--mixin-WqV4i8uRo4K9B_border-top-color);
  border-right: var(--mixin-WqV4i8uRo4K9B_border-right-width)
    var(--mixin-WqV4i8uRo4K9B_border-right-style)
    var(--mixin-WqV4i8uRo4K9B_border-right-color);
  border-bottom: var(--mixin-WqV4i8uRo4K9B_border-bottom-width)
    var(--mixin-WqV4i8uRo4K9B_border-bottom-style)
    var(--mixin-WqV4i8uRo4K9B_border-bottom-color);
  border-left: var(--mixin-WqV4i8uRo4K9B_border-left-width)
    var(--mixin-WqV4i8uRo4K9B_border-left-style)
    var(--mixin-WqV4i8uRo4K9B_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-UwRdj9Rdm6x3a_color);
  padding-left: var(--mixin-UwRdj9Rdm6x3a_padding-left);
  border-left: var(--mixin-UwRdj9Rdm6x3a_border-left-width)
    var(--mixin-UwRdj9Rdm6x3a_border-left-style)
    var(--mixin-UwRdj9Rdm6x3a_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-aFnRCdMVzwL6U_font-family);
  border-radius: var(--mixin-aFnRCdMVzwL6U_border-top-left-radius)
    var(--mixin-aFnRCdMVzwL6U_border-top-right-radius)
    var(--mixin-aFnRCdMVzwL6U_border-bottom-right-radius)
    var(--mixin-aFnRCdMVzwL6U_border-bottom-left-radius);
  padding: var(--mixin-aFnRCdMVzwL6U_padding-top)
    var(--mixin-aFnRCdMVzwL6U_padding-right)
    var(--mixin-aFnRCdMVzwL6U_padding-bottom)
    var(--mixin-aFnRCdMVzwL6U_padding-left);
  border-top: var(--mixin-aFnRCdMVzwL6U_border-top-width)
    var(--mixin-aFnRCdMVzwL6U_border-top-style)
    var(--mixin-aFnRCdMVzwL6U_border-top-color);
  border-right: var(--mixin-aFnRCdMVzwL6U_border-right-width)
    var(--mixin-aFnRCdMVzwL6U_border-right-style)
    var(--mixin-aFnRCdMVzwL6U_border-right-color);
  border-bottom: var(--mixin-aFnRCdMVzwL6U_border-bottom-width)
    var(--mixin-aFnRCdMVzwL6U_border-bottom-style)
    var(--mixin-aFnRCdMVzwL6U_border-bottom-color);
  border-left: var(--mixin-aFnRCdMVzwL6U_border-left-width)
    var(--mixin-aFnRCdMVzwL6U_border-left-style)
    var(--mixin-aFnRCdMVzwL6U_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Z1Nx9INmICs7O_display);
  flex-direction: var(--mixin-Z1Nx9INmICs7O_flex-direction);
  align-items: var(--mixin-Z1Nx9INmICs7O_align-items);
  justify-content: var(--mixin-Z1Nx9INmICs7O_justify-content);
  list-style-position: var(--mixin-Z1Nx9INmICs7O_list-style-position);
  padding-left: var(--mixin-Z1Nx9INmICs7O_padding-left);
  position: var(--mixin-Z1Nx9INmICs7O_position);
  list-style-type: var(--mixin-Z1Nx9INmICs7O_list-style-type);
  flex-column-gap: var(--mixin-Z1Nx9INmICs7O_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-AwNdgfhpELzVw_display);
  flex-direction: var(--mixin-AwNdgfhpELzVw_flex-direction);
  align-items: var(--mixin-AwNdgfhpELzVw_align-items);
  justify-content: var(--mixin-AwNdgfhpELzVw_justify-content);
  list-style-position: var(--mixin-AwNdgfhpELzVw_list-style-position);
  padding-left: var(--mixin-AwNdgfhpELzVw_padding-left);
  position: var(--mixin-AwNdgfhpELzVw_position);
  list-style-type: var(--mixin-AwNdgfhpELzVw_list-style-type);
  flex-column-gap: var(--mixin-AwNdgfhpELzVw_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-c7PoD-kGPSMr0_color);
  font-size: var(--mixin-c7PoD-kGPSMr0_font-size);
  font-weight: var(--mixin-c7PoD-kGPSMr0_font-weight);
  letter-spacing: var(--mixin-c7PoD-kGPSMr0_letter-spacing);
  line-height: var(--mixin-c7PoD-kGPSMr0_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-zWXJGhhdNPdzl_color);
  font-size: var(--mixin-zWXJGhhdNPdzl_font-size);
  font-weight: var(--mixin-zWXJGhhdNPdzl_font-weight);
  line-height: var(--mixin-zWXJGhhdNPdzl_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-A5A8qv40bDDA__color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
